<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-the-three-files-into-python-as-dataframes" data-toc-modified-id="Read-the-three-files-into-python-as-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read the three files into python as dataframes</a></span></li><li><span><a href="#Standardize-header-names-and-rearrange-the-columns-in-the-dataframe-as-needed" data-toc-modified-id="Standardize-header-names-and-rearrange-the-columns-in-the-dataframe-as-needed-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Standardize header names and rearrange the columns in the dataframe as needed</a></span></li><li><span><a href="#Show-the-DataFrame's-shape" data-toc-modified-id="Show-the-DataFrame's-shape-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Show the DataFrame's shape</a></span></li><li><span><a href="#Concatenate-the-three-dataframes" data-toc-modified-id="Concatenate-the-three-dataframes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Concatenate the three dataframes</a></span></li><li><span><a href="#Which-columns-are-numerical?-Which-columns-are-categorical?" data-toc-modified-id="Which-columns-are-numerical?-Which-columns-are-categorical?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Which columns are numerical? Which columns are categorical?</a></span></li><li><span><a href="#Understand-the-meaning-of-all-columns" data-toc-modified-id="Understand-the-meaning-of-all-columns-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Understand the meaning of all columns</a></span></li><li><span><a href="#Cleaning" data-toc-modified-id="Cleaning-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Cleaning</a></span><ul class="toc-item"><li><span><a href="#Delete-the-column-education-and-the-number-of-open-complaints-from-the-dataframe." data-toc-modified-id="Delete-the-column-education-and-the-number-of-open-complaints-from-the-dataframe.-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Delete the column education and the number of open complaints from the dataframe.</a></span></li><li><span><a href="#Correct-the-values-in-the-column-customer-lifetime-value.-They-are-given-as-a-percent,-so-multiply-them-by-100-and-change-dtype-to-numerical-type." data-toc-modified-id="Correct-the-values-in-the-column-customer-lifetime-value.-They-are-given-as-a-percent,-so-multiply-them-by-100-and-change-dtype-to-numerical-type.-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.</a></span></li><li><span><a href="#Check-for-duplicate-rows-in-the-data-and-remove-if-any." data-toc-modified-id="Check-for-duplicate-rows-in-the-data-and-remove-if-any.-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Check for duplicate rows in the data and remove if any.</a></span></li><li><span><a href="#Filter-out-the-data-for-customers-who-have-an-income-of-0-or-less." data-toc-modified-id="Filter-out-the-data-for-customers-who-have-an-income-of-0-or-less.-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Filter out the data for customers who have an income of 0 or less.</a></span></li></ul></li></ul></div>

# Read the three files into python as dataframes

In [1]:
import numpy as np
import pandas as pd

In [2]:
cd C:\Users\Raphael Costa\Desktop\Thiago\Data Mining\IronHack\GitHub\cosferlabwork\Jupyter\Week1\Day2 - LAB

C:\Users\Raphael Costa\Desktop\Thiago\Data Mining\IronHack\GitHub\cosferlabwork\Jupyter\Week1\Day2 - LAB

In [3]:
file1 = pd.read_excel("file1.xlsx", engine='openpyxl')
file2 = pd.read_excel("file2.xlsx", engine='openpyxl')
file3 = pd.read_excel("file3.xlsx", engine='openpyxl')

# Standardize header names and rearrange the columns in the dataframe as needed

In [4]:
# rename head to be easier to concat file1, file2, filexl1, filexl2
new_header = {'ST':'State', 'GENDER':'Gender'}
file1.rename(columns=new_header,inplace=True)
file2.rename(columns=new_header,inplace=True)

# Show the DataFrame's shape

In [5]:
print(file1.shape)
print(file2.shape)
print(file3.shape)

(1071, 11)
(996, 11)
(7070, 11)

# Concatenate the three dataframes

In [6]:
data=pd.concat([file1,file2,file3], ignore_index=True)

data.head(1)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934

# Which columns are numerical? Which columns are categorical?

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Gender                     9015 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   int64
 6   Monthly Premium Auto       9137 non-null   int64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
dtypes: float64(1), int64(2), object(8)
memory usage: 785.3+ KB

# Understand the meaning of all columns
- Customer - ok
- State - ok
- Gender - ok
- Education - will be deleted
- Customer Lifetime Value - need to change to float. For that we will multiply for 100 and then change to numeric.
- Income - ok
- Monthly Premium Auto - ok
- Number of Open Complaints - will be deleted
- Policy Type - ok
- Vehicle Class - ok
- Total Claim Amount - ok

# Cleaning
## Delete the column education and the number of open complaints from the dataframe.

In [8]:
datanew=data.drop(['Education','Number of Open Complaints'], axis = 1)

In [9]:
datanew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Customer Lifetime Value  9130 non-null   object
 4   Income                   9137 non-null   int64
 5   Monthly Premium Auto     9137 non-null   int64
 6   Policy Type              9137 non-null   object
 7   Vehicle Class            9137 non-null   object
 8   Total Claim Amount       9137 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 642.6+ KB

In [10]:
data=datanew

## Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [11]:
data_clt=data

In [12]:
#data_clt['Customer Lifetime Value'].astype('float',errors='ignore')

In [13]:

data_clt['Customer Lifetime Value']*=100

In [14]:
data_clt['Customer Lifetime Value']

0                                                     NaN
1       697953.59%697953.59%697953.59%697953.59%697953...
2       1288743.17%1288743.17%1288743.17%1288743.17%12...
3       764586.18%764586.18%764586.18%764586.18%764586...
4       536307.65%536307.65%536307.65%536307.65%536307...
                              ...
9132                                           2.3406e+06
9133                                               309651
9134                                               816389
9135                                               752444
9136                                               261184
Name: Customer Lifetime Value, Length: 9137, dtype: object

In [15]:
data_clt['Customer Lifetime Value']=pd.to_numeric(data_clt['Customer Lifetime Value'],errors='coerce')

In [16]:
data_clt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Customer Lifetime Value  7070 non-null   float64
 4   Income                   9137 non-null   int64
 5   Monthly Premium Auto     9137 non-null   int64
 6   Policy Type              9137 non-null   object
 7   Vehicle Class            9137 non-null   object
 8   Total Claim Amount       9137 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 642.6+ KB

In [17]:
data=data_clt

## Check for duplicate rows in the data and remove if any.

In [18]:
data_drop=data
data_drop=data.drop_duplicates()

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Customer Lifetime Value  7070 non-null   float64
 4   Income                   9137 non-null   int64
 5   Monthly Premium Auto     9137 non-null   int64
 6   Policy Type              9137 non-null   object
 7   Vehicle Class            9137 non-null   object
 8   Total Claim Amount       9137 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 642.6+ KB

In [20]:
data_drop.reset_index(drop=True, inplace=True)
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9134 non-null   object
 1   State                    9134 non-null   object
 2   Gender                   9012 non-null   object
 3   Customer Lifetime Value  7070 non-null   float64
 4   Income                   9134 non-null   int64
 5   Monthly Premium Auto     9134 non-null   int64
 6   Policy Type              9134 non-null   object
 7   Vehicle Class            9134 non-null   object
 8   Total Claim Amount       9134 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 642.4+ KB

In [21]:
data=data_drop

## Filter out the data for customers who have an income of 0 or less.

In [22]:
# It will be necessary to change the dtype of Income from int to float.
data['Income']=data['Income'].astype('float', errors='ignore')

<ipython-input-22-a826caaa286a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Income']=data['Income'].astype('float', errors='ignore')

In [23]:
data.dtypes['Income']

dtype('float64')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9134 non-null   object
 1   State                    9134 non-null   object
 2   Gender                   9012 non-null   object
 3   Customer Lifetime Value  7070 non-null   float64
 4   Income                   9134 non-null   float64
 5   Monthly Premium Auto     9134 non-null   int64
 6   Policy Type              9134 non-null   object
 7   Vehicle Class            9134 non-null   object
 8   Total Claim Amount       9134 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 642.4+ KB

In [25]:
data[(data['Income']<=0)]

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,NaN,0.0,106,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,NaN,0.0,101,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,NaN,0.0,67,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
9123,WZ45103,California,F,5.678050e+05,0.0,76,Personal Auto,Four-Door Car,364.800000
9125,RX91025,California,M,1.987226e+06,0.0,185,Personal Auto,SUV,1950.725547
9126,AC13887,California,M,4.628995e+05,0.0,67,Corporate Auto,Two-Door Car,482.400000
9131,TD14365,California,M,8.163890e+05,0.0,85,Corporate Auto,Four-Door Car,790.784983
9133,Y167826,California,M,2.611837e+05,0.0,77,Corporate Auto,Two-Door Car,369.600000